/build
/dist
/EasyStreet.png
/EasyStreet.py
/EasyStreet.spec
/easyui.exe
/easyui.spec
/Fee List.pdf
/free.ico
/output
/templates
/test.py
/__pycache__
/~$etter Template] Fee Letter.docx
/~$etter Template] Fee Schedule B Effective 04FEB2016.docx